// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.worker-profile-pic {
    width : 95px;
    height: 95px;
}

.worker-show-image{
    width : 100%;
    height: 100%;
}
